<div class='item-view'>
  {% if include.prevlink %}
    <a href='{{ include.prevlink | absolute_url }}' id='prev' class='prevnext' display='none'>
      <button type='button' class='btn'>
        <i class='fas fa-chevron-left'></i>
      </button>
    </a>
  {% endif %}

  <div class='image-viewer'>
    <a href='{{ include.full_image | absolute_url }}'>
      <img class='item-full-image' src='{{ include.full_image | absolute_url }}' alt='{{ page.label | slugify }}'/>
    </a>
  </div>

  {% if include.nextlink %}
    <a href='{{ include.nextlink | absolute_url }}' id='next' class='prevnext' display='none'>
      <button type='button' class='btn'>
        <i class='fas fa-chevron-right'></i>
      </button>
    </a>
  {% endif %}
</div>
