{%- assign manifest = include.manifest | absolute_url -%}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
<script type="text/javascript" src="{{ site.js.leaflet.cdn }}"></script>
<script type="text/javascript" src="{{ site.js.leaflet-iiif.cdn }}"></script>

<div class="item-view  container-fluid">
  <div id="leaflet-iiif-viewer" class="iiif-viewer"></div>
</div>

<script type='text/javascript'>
  console.log('Loading {{ manifest }}');
  leafletManifestViewer('{{ manifest }}');
</script>
