<link rel="stylesheet" type="text/css" href="/build/mirador/css/mirador-combined.css">
<script src="{{ '/build/mirador/mirador.js' | absolute_url }}"></script>
<div id="mirador-iiif-viewer" class="iiif-viewer mirador" allowfullscreen="allowfullscreen"></div>
<style>
  .mirador{
    display: block;
    position: relative;
    width: 100%;
    min-height: 500px;
    height: 60vh;
    margin-bottom: 50px;
  }
  .mirador a {
    color: inherit !important;
  }
</style>
<script type="text/javascript">
  $(function() {
    Mirador({
      id: 'mirador-iiif-viewer',
      data: [
        { "collectionUri": "{{ '/iiif/collection/top.json' | absolute_url }}" }
      ],
      windowObjects: [{
        loadedManifest: "{{ '/iiif/book-of-horses/manifest.json' | absolute_url }}",
        // canvasID: "http://iiif/id/and/uri/of/your/canvas/canvas-id",
        viewType: "ScrollView"
      }]
    });
  });
</script>
