<div id='wax-banner'>
  {% assign i = 1 %}
  {% assign banner = include.banner | default: page.banner %}

  {% for i in banner %}
    {% capture transform-css %}
      {% if i.zoom == 1 %} scale(1.5,1.5)
      {% elsif i.zoom == 2 %} scale(2,2)
      {% else %} scale(1.1, 1.1)
      {% endif %}
      {% if i.x == 'left' %} translateX(5%)
      {% elsif i.x == 'right' %} translateX(-5%)
      {% endif %}
      {% if i.y == 'center' %} translateY(-35%)
      {% elsif i.y == 'bottom' %} translateY(-65%)
      {% else %} translateY(-5%)
      {% endif %}
    {% endcapture %}

    {% assign item = site[i.collection] | where: 'pid', i.pid | first %}

    <div class='banner-item'>
      <a href='{{ item.url | absolute_url }}'>
        <div class='banner-img'>
            <img src='{{ item.full | absolute_url }}' style='transform: {{ transform-css }};'/>
        </div>
      </a>
    </div>

    {% assign i = i | plus: 1 %}
  {% endfor %}
</div>
