<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/fh-3.1.4/sc-1.5.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/fh-3.1.4/sc-1.5.0/datatables.min.js"></script>


<table id='{{ include.collection }}-datatable' class='datatable display'>
  {% assign first_item = site.data[include.collection].first %}
  <thead>
    <tr>
      {% for field in first_item %}
        <th>{{ field[0] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for item in site.data[include.collection] %}
    <tr>
      {% for value in item %}
        {% if value[0] == 'pid' %}
          <td><a href='{{ "" | absolute_url }}/{{ include.collection }}/{{ item.pid }}/'>
            {{ value[1] }}</a>
          </td>
        {% elsif value[1] contains '/img/derivatives/' %}
          <a href='{{ value[1] | absolute_url }}'>
            <td>{{ value[1] | absolute_url }}</td>
          </a>
        {% else %}
          <td>{{ value[1] }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function () {
    $('#{{ include.collection }}-datatable').DataTable({
      scrollY: 600,
      scrollX: 600,
      paging: false,
      fixedHeader: false,
      searching: false,
      dom: 'Bfrtip',
      buttons: [
        'csvHtml5',
        'copyHtml5'
      ]
    });
  });
</script>
