<footer id='wax-footer' class='page-footer container-fluid'>
  <div class='wax-inline-container text-center text-md-left'>

    <div class='row'>
      <div class='col-md-9 mt-md-0 mt-3'>
        <h5>Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>

      <div class='col-md-3 mb-md-0 mb-3'>
        <h5>Links</h5>
        <ul class='list-unstyled'>
        </ul>
      </div>
    </div>

    <div class='footer-copyright'></div>

  </div>
</footer>
