<div id="wax-gallery-{{ include.collection }}" class="wax-gallery"></div>

<!--{% assign collection = site.collections | where: "label", include.collection | first %}
{% assign collection = collection.docs %}-->

{% assign collection = site.data.iiif_info[include.collection]['manifests'] %}


<script type="text/javascript">
  // create items
  var container = $('#wax-gallery-{{ include.collection }}');
  container.prepend("<div id='{{ include.collection }}-gallery' class='gallery-container'></div>");
  var gallery = $('#{{ include.collection }}-gallery');
  {% for item in collection %}
    gallery.append("<div class='gallery-item {{ include.collection }}-{{ item[include.facet_by] | slugify }} {{ include.collection }}-all'><a href='{{ item.link | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumb | absolute_url }}'><div class='overlay'><p class='info'>{{ item.title }}</p></div></div></a></div>");
  {% endfor %}

  {% if include.facet_by %}
   container.prepend('<div id="{{ include.collection }}-facet-buttons"></div><br>');

    var buttonDiv = $('#{{ include.collection }}-facet-buttons');
    var facets = Array.from(new Set([{%- for item in collection -%}'{{ include.collection }}-{{ item[include.facet_by] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));

    // create buttons
    buttonDiv.append("<button class='btn {{ include.collection }}-facet btn-outline-secondary' data-filter='{{ include.collection }}-all'>show all</button>");
    for (i in facets) {
      buttonDiv.append("&nbsp;&nbsp;&nbsp;<button class='btn {{ include.collection }}-facet btn-outline-secondary' data-filter='" + facets[i]+ "'>" + facets[i].replace('{{ include.collection }}-', '') + "</button>");
    }

    // filter on button click
    $(document).ready(function(){
      // clicking button with class "category-button"
      $(".{{ include.collection }}-facet").click(function(){
        // get the data-filter value of the button
        var filterValue = $(this).attr('data-filter');
        // show all items
        if(filterValue == "{{ include.collection }}-all") {
          $(".{{ include.collection }}-all").show("slow");
        }
        else {
          // hide all items
          $(".{{ include.collection }}-all").hide("slow");
          // and then, show only items with selected data-filter value
          $('.'+filterValue).show("slow");
        }
      });
    });
  {% endif %}
</script>
