<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-iiif@2.0.1/leaflet-iiif.min.js"></script>

{% assign object = site.data[include.collection] | where: 'pid', include.pid | first %}

{%- capture manifest_uri -%}
  {{ site.baseurl }}/iiif/{{ include.collection }}-{{ include.pid }}/manifest.json
{%- endcapture -%}

<figure class="figure container-fluid nopadding">
  <div id="iiif-viewer"></div>
</figure>

<script>
    var iiif_viewer;
    var iiifLayers = {};
    var manifestUrl = '{{ manifest_uri }}';
    iiif_viewer = L.map('iiif-viewer', {
      center: [0, 0],
      crs: L.CRS.Simple,
      zoomDelta: 0.5,
      zoomSnap: 0,
      zoom: 0
    });
    $.getJSON(manifestUrl, function(data) {
      var i = 1;
      $.each(data.sequences[0].canvases, function(_, val) {
        var label = 'image ' + i;
        iiifLayers[label] = L.tileLayer.iiif(val.images[0].resource.service['@id'] + '/info.json', {fitBounds: true});
        i++;
      });
      if (i > 2){ L.control.layers(iiifLayers).addTo(iiif_viewer);}
      iiifLayers[Object.keys(iiifLayers)[0]].addTo(iiif_viewer);
    });
</script>
