{%- capture image_uri -%}
  {{ site.baseurl }}/iiif/images/{{ include.collection }}-{{ include.pid }}-1/full/full/0/default.jpg
{%- endcapture -%}
{% assign object = site.data[include.collection] | where: 'pid', include.pid | first %}
{%- capture caption -%}
  {{ object.artist }}, <a href="{{ site.baseurl }}/{{ include.collection }}/{{ include.pid }}">{{ object.title }}</a>. {{ object.\_date}} {{ object.object_type  }}, {{ object.location }}. {{ object.current_location }}.
{%- endcapture -%}

<figure class="figure container-fluid nopadding">
  <div class="banner">
    <img src="{{ image_uri }}"/>
  </div>
  <figcaption class="figure-caption">{{ caption }}</figcaption>
</figure>
