{% include iiif_assets.html %}

{% assign object = site.data[include.collection] | where: 'pid', include.pid | first %}

{%- capture manifest_uri -%}
  {{ site.baseurl }}/iiif/{{ include.collection }}-{{ include.pid }}/manifest.json
{%- endcapture -%}
<script type="text/javascript">window.manifest = "{{ manifest_uri}}";</script>

{% if include.pagination == true %}

  {% assign documents = site[include.collection] | sort: 'order' %}
  {% assign first = documents.first %}
  {% assign last = documents.last %}

  {% for doc in documents %}
    {% if doc.pid == include.pid %}

      {% if forloop.first %}{% assign prevurl = last.url %}
      {% else %}{% assign prevurl = prev.url %}
      {% endif %}

      {% if forloop.last %}{% assign nexturl = first.url %}
      {% else %}{% assign nexturl = documents[forloop.index].url %}
      {% endif %}

    {% endif %}
  {% assign prev = doc %}
  {% endfor %}

  <div class="item-view">
    <a href="{{site.baseurl}}{{prevurl}}" id="prev" class="prevnext">
      <button type="button" class="btn">
        <i class="fas fa-chevron-left"></i>
      </button>
    </a>

    <div id="iiif-viewer"></div>

    <a href="{{site.baseurl}}{{nexturl}}" id="next" class="prevnext">
      <button type="button" class="btn">
        <i class="fas fa-chevron-right"></i>
      </button>
    </a>

  </div>

{% else %}

  <div class="item-view  container-fluid">
    <div id="iiif-viewer"></div>
  </div>

{% endif %}
