<dl class='metadata-block'>
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% if value contains 'http' %}
      {%- capture value -%}
        <a href="{{ value }}" target="_blank">
          {% assign urlparts = value | split: "/" %}
          {% assign counter = 0 %}
          {% for part in urlparts %}
          {% assign counter = counter | plus: 1 %}
             {% if counter == 3 %}{{ part }}{% endif %}
          {% endfor %}

        </a>
      {%- endcapture -%}
    {% endif %}
      <dt>{{ item.label }}</dt>
      <dd>{{ value | strip }}</dd>
  {% endfor %}
</dl>
