{% capture the_collection %}{{ include.collection }}{% endcapture %}
  {% if page.collection %}
    {% assign documents = site[the_collection] | sort: 'order' %}
    {% assign first = documents.first %}
    {% assign last = documents.last %}
  {% endif %}
{% for link in documents  %}
  {% if link.title == page.title %}
    {% if forloop.first %}
      {% assign prevurl = last.url %}
    {% else %}
      {% assign prevurl = prev.url %}
    {% endif %}
    {% if forloop.last %}
      {% assign nexturl = first.url %}
    {% else %}
      {% assign next = documents[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endif %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

<div class="prevnext d-flex clearfix">
  <div class="p-2">
    <a href="{{site.baseurl}}{{prevurl}}" class="prev">
      <button type="button" class="btn btn-outline-primary">Previous</button>
    </a>
  </div>
  <div class="ml-auto p-2">
    <a href="{{site.baseurl}}{{nexturl}}" class="next">
      <button type="button" class="btn btn-outline-primary">Next</button>
    </a>
  </div>
</div>
