{% if include.image %}
  {% assign image = include.image %}
{% else %}
  {% assign item  = site[include.collection] | where: 'pid', include.pid | first %}
  {% assign image = item.full %}
{% endif %}

{%- capture style -%}
  background-image: url('{{ image | absolute_url }}');
  background-position: 0% {{ include.y | default: '15%' }};
  {% if include.clickable %}
  cursor: pointer;
  {% endif %}
  {% if include.height %}
  height: {{ include.height }} !important;
  {% endif %}
{%- endcapture -%}

{%- capture onclick -%}
{% if include.clickable %}
  onclick="window.location='{{ item.url | absolute_url }}'; return false;"
{% endif %}
{%- endcapture -%}

<div class='wax-parallax full-width {% if page.banner %}top-banner{% else %}inline-parallax{% endif %}'>
  <div class='parallax-image' style="{{ style | strip }}" {{ onclick | strip }}></div>

  {% if item.label %}
  <div class='parallax-caption'>
    <div class='wax-inline-container'>
      Above: <a href='{{ item.url | absolute_url }}'>{{ item.label }}</a>
    </div>
  </div>
  {% endif %}
</div>
