{% assign placeholder = include.placeholder | default: 'Search... ' %}
{% assign key = include.search | default: 'main' %}
{% assign config = site.search[key] %}
{% assign index = config.index | absolute_url %}
{%- capture fields -%}
  {%- for collection in config.collections -%}
    {%- for field in collection[1].fields -%}
      {{ field }}{% unless forloop.last %}|||{% endunless %}
    {%- endfor -%}
  {%- endfor -%}
{%- endcapture -%}
{% assign fields = fields | split: '|||' | uniq %}

<div class='search-block'>
  <div class='input-group'>
    <input type='text' class='form-control' id='search' name='x' placeholder='{{ placeholder }}'>
  </div>
  <div id='results'></div>
</div>

<script type='text/javascript' src="{{ '/assets/elasticlunr.min.js' | absolute_url }}"></script>
<script type='text/javascript' src="{{ '/assets/search-ui.js' | absolute_url }}"></script>
<script type='text/javascript'>
  var fields    = {{ fields | jsonify }};
  var indexFile = "{{ index }}";
  var url       = "{{ '' | absolute_url }}";

  $(document).ready(function() {
    startSearchUI(fields, indexFile, url);
  });
</script>
