<script src="{{ site.js.elasticlunr.cdn | default: 'https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js' }}"></script>
<script src="{{ site.baseurl }}/js/lunr-ui.js"></script>

<div class="search-block">
  <div class="input-group">
    <input type="text" class="form-control" id="search" name="x" placeholder="Search... ">
    <!-- <span class="input-group-btn">
        <button class="btn btn-default" type="button">🔎</button>
    </span> -->
  </div>
  <div id="results"></div>
</div>
