{% assign placeholder = include.placeholder | default: 'Search... ' %}
{% assign key = include.search | default: 'main' %}
{% assign config = site.search[key] %}
{% assign index = config.index | absolute_url %}
{%- capture fields -%}
  {%- for collection in config.collections -%}
    {%- for field in collection[1].fields -%}
      {{ field }}{% unless forloop.last %}|||{% endunless %}
    {%- endfor -%}
  {%- endfor -%}
{%- endcapture -%}
{% assign fields = fields | split: '|||' | uniq %}

<div class='search-block'>
  <div class='input-group'>
    <input type='text' class='form-control' id='search' name='x' placeholder='{{ placeholder }}'>
  </div>
  <div id='results'></div>
</div>

<script src="{{ '/assets/elasticlunr.min.js' | absolute_url }}"></script>
<script type='text/javascript'>
  $(document).ready(function() {

    function excerptedString(str) {
      if (str.length < 40) {
        return str;
      }
      else {
        return `${str.substring(0, 40)} ...`;
      }
    }

    function getThumbnail(item) {
      if ('thumbnail' in item) {
        return `<img class='sq-thumb-sm' src='{{ "" | absolute_url }}${item.thumbnail}'/>&nbsp;&nbsp;&nbsp;`
      }
      else {
        return '';
      }
    }

    function displayResult(item, fields) {
      var pid   = item.pid;
      var label = item.label || 'Untitled';
      var link  = item.permalink;
      var thumb = getThumbnail(item);
      var meta  = []

      for (i in fields) {
        fieldLabel = fields[i];
        if (fieldLabel in item ) {
          meta.push(`<b>${fieldLabel}:</b> ${excerptedString(item[fieldLabel])}`);
        }
      }
      return `<div class="result"><a href="{{ '' | absolute_url }}${link}">${thumb}<p><span class="title">${item.label}</span><br><span class="meta">${meta.join(' | ')}</span></p></a></p></div>`;
    }


    $.getJSON("{{ index }}", function(store) {
      window.index  = new elasticlunr.Index;
      window.store  = store;
      window.fields = {{ fields | jsonify }};
      index.saveDocument(false);
      index.setRef('lunr_id');
      for (i in fields) {
        index.addField(fields[i]);
      }
      for (i in store){
        index.addDoc(store[i]);
      }

      $('input#search').on('keyup', function() {
        var results_div = $('#results');
        var query       = $(this).val();
        var results     = index.search(query, { boolean: 'AND', expand: true });

        results_div.empty();

        for (var r in results) {
          var ref    = results[r].ref;
          var item   = store[ref];
          var result = displayResult(item, fields);

          results_div.append(result);
        }
      });
    });
  });
</script>
