/*
variable declaration
*/

/* text */

$serif:           'Karma';
$sans-serif:      sans-serif;
$main-font-size:  1.2rem;
$max-text-width:  800px;

/* colors */

$text-color:      #222222;
$accent-color:    #f44441;
$bg-color:        #ffffff;
$light-grey:      #dee2e6;
$dark-grey:       #aaaaaa;

/* viewport sizes */

$max-width:       1100px;
$break-lg:        900px;
$break-med:       780px;
$break-sm:        600px;

/* margins */

$margin:          2rem;
$more-margin:     3rem;
$less-margin:     1rem;
$super-margin:    5rem;

/* banner */

$banner-height:   450px;
$fade-time:       1.5s;

/* iiif viewer */
$viewer-height:   600px;


/*
font & asset import
*/

@import
url('https://fonts.googleapis.com/css?family=Karma:400,500,600,700&subset=latin-ext');
