/*

main body & containers

*/

html, body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

.container {
  width: $max-width;
  @media screen and (max-width: $max-width) {
    width: $max-width;
  }
  @media screen and (max-width: $break-med) {
    width: 60vw;
  }
  @media screen and (max-width: $break-sm) {
    width: 70vw;
  }
}

#main{
  margin-bottom: 200px;

  h1, h2, h3, h4, h5, h5 {
    margin-bottom: $more-margin;
    margin-top: $margin;
  }

  img {
    max-width: $max-width;
  }

  a {
    color: $accent-color;
  }

  p {
    font-family: $serif;
    color: $text-color;
    margin: $more-margin 0 $more-margin 0;
    max-width: $max-text-width;
    font-size: $main-font-size;
    @media screen and (max-width: $break-sm) {
      font-size: $main-font-size * .8;
    }
  }

  li {
    font-family: $serif;
    color: $text-color;
    margin: $less-margin 0 $less-margin 0;
    max-width: $max-text-width;
    font-size: $main-font-size;
    @media screen and (max-width: $break-sm) {
      font-size: $main-font-size * .8;
    }
  }
}

/*

header & nav bar

*/

#header-block{
  border-bottom: 1px solid grey;
  padding: $more-margin 0 $more-margin 0;
  @media screen and (max-width: $break-med) {
    padding: $less-margin 0 $less-margin 0;
  }
  top: 0;
  left: 0;
  background-color: $bg-color;
  z-index: 100000;
  position: fixed;
  #title a{
    font-size: $main-font-size * 1.2;
  }
  .logo.baseline {
    background: $logo no-repeat;
    background-size: contain;
    align-self: center;
    padding: $main-font-size * .8;
    margin: .25em .25em 0 0;
  }
  ul {
    max-width: $max-text-width;
    font-size: $main-font-size;
    .dropdown-toggle::after{
      display: none !important;
    }
  }
  .navbar{
    padding: 0 !important;
    margin: 0 !important;
    .navbar-toggler{
      margin: $less-margin;
    }
  }
}
#header-spacer {
  height: 175px;
  @media screen and (max-width: $break-med) {
    height: 150px;
  }
}

/*

banner

*/

#wax-banner{
  position: relative;
  margin: $margin 0 $super-margin 0;
  .banner-item{
    position: absolute;
    transition: opacity $fade-time;
    background-color: $bg-color;
    opacity: 0;
    &:first-child {
      z-index: 2;
      opacity: 1;
    }
    &:last-child {
      z-index: 1;
      opacity: 1;
    }
    .banner-img {
      width: 100%;
      height: $banner-height;
      z-index: -1;
      overflow: hidden;
      margin-bottom: $margin;
      @media screen and (max-width: $break-med) {
        height: $banner-height / 1.5;
      }
      @media screen and (max-width: $break-sm) {
        height: $banner-height / 2;
      }
      img {
        z-index: -1;
        position: relative;
        width: 100%;
        height: auto;
      }
    }
    .banner-caption {
      font-family:  $sans-serif;
      margin-top:   $margin;
      @media screen and (max-width: $break-sm) {
        font-size: $main-font-size * .8;
      }
    }
  }
}

/*

item pages (iiif + metadata)

*/
.item-view {
  width:           100%;
  display:         inline-flex;
  flex-wrap:       nowrap;
  justify-content: space-between;
  align-items:     center;
  margin:          0;

  .iiif-viewer {
    height:   $viewer-height;
    width:    100%;
    border:   1px solid grey;
    margin:   $more-margin $less-margin $more-margin $less-margin;
    @media screen and (max-width: $break-med) {
      height: $viewer-height / 1.5;
    }
    @media screen and (max-width: $break-sm) {
      height: $viewer-height / 2;
    }
    .leaflet-control {
      a {
        color: black !important;
      }
    }
  }

  .btn {
    margin: 0;
    color: $light-grey !important;
    background-color: $bg-color  !important;
    border: none;
    font-size: $main-font-size * 2;
    &:hover{
      background-color: $bg-color  !important;
      color: $dark-grey !important;
    }
    @media screen and (max-width: $break-sm) {
      font-size: $main-font-size;
      margin: 0;
      padding: 0;
    }
  }
  #prev{
    float:left;
  }
  #next{
    float: right;
  }
}

.mirador {
  display: block;
  position: relative;
  width: 100%;
  min-height: 500px;
  height: 60vh;
  margin-bottom: 50px;
  a {
    color: inherit !important;
  }
  li {
    font-size: 1em !important;
  }
}

#metadata-block {
  .meta{
    .label{
      font-weight: bold;
      width: 30%;
    }
    .value{
      font-family: $serif;
    }
  }
}
/*

search box

*/


.search-block{
  margin: $more-margin 0 $more-margin 0;
  #search{
    border-style: groove;
    border-width: 2px;
    &:focus {
        box-shadow: none ;
        border-color: $light-grey;
    }
  }
  #results {
    margin: 0;
    .result {
      padding: $less-margin;
      a {
        color: $text-color;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        img {
          float: left;
          width: 50px;
        }
        p {
          margin: 0;
          margin-left: $less-margin;
          @media screen and (max-width: $break-sm) {
            font-size: $main-font-size * .8;
          }
          .title{
            color: $accent-color;
          }
        }
      }
      &:hover {
        background-color: $light-grey
      }
    }
  }
}



/* gallery cards */
.wax-gallery {
  margin: $margin 0 $margin 0;
  display: flex;
  flex-wrap: wrap;

  .gallery-item {
    padding: 0;
    margin: 0;
    width: 200px;
    border: 1px $dark-grey solid;

    .gallery-thumb{
      object-fit: cover;
      object-position: 50% 20%;
      width: 200px;
      height: 175px;
    }

    .hovereffect {
      width: 100%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;
      text-align: center;
      cursor: default;

      &:hover {
        .overlay {
          opacity: .7;
          cursor: pointer;
          .info {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }
        }
      }

      .info {
        text-decoration: none;
        color: $bg-color !important;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        font-weight: normal;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
        padding: 0 $margin 0 $margin;
      }

      .overlay {
        width: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        background-color: $accent-color;
        opacity: 0;
        -webkit-transition:opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
        display: table;
        height: 200px;
      }
    }
  }
}


.sq-thumb-sm{
  object-fit: cover;
  object-position: 50% 20%;
  width: 80px;
  height: 80px;
}

.iiif-logo {
  height: 1.5em;
}
