@import url('https://fonts.googleapis.com/css?family=Karma:400,500,600,700&subset=latin-ext');
.sans-serif{ font-family: sans-serif !important; }
.serif{ font-family: 'Karma', serif !important; }

.container {
  p, ul {
    margin: 2.5em 0em 2.5em 0em;
    max-width: 800px;
    font-size: 1.25em;
  }
  p{font-family: 'Karma', serif;}
}

#iiif-banner{
  height: 450px;
  .leaflet-control-container{
    display:none !important;
  }
}

#iiif-viewer{
  height: 600px;
}

.navbar{ padding: 0.5rem 0rem 0.5rem 0rem;}

.nopadding { padding: 0 !important; }
.nomargin{ margin: 0 !important; }

.prevnext{
  width: '100%';
  margin: 2rem auto;
}

.leaflet-container{
  border: 1px solid grey;
}

.dropdown-toggle::after{
  display: none !important;
}

.search-block{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  #results{
    .result{
      padding: 1rem 1rem 1rem 3rem;
      h5{margin-top: 1rem;}
      p{margin-top: 1rem;}
    }
  }
}

/* metadata item table */
.meta-label{width:25%}
.meta-field{overflow-x: scroll;}


/* gallery cards */
.wax-gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .gallery-item {
    padding:.5em;
    width: 250px;
    margin: 1em;
    .gallery-thumb{
      object-fit: cover;
      object-position: 50% 20%;
      width: 250px;
      height: 200px;
      -webkit-transition: filter .2s;
      transition: filter .2s;
      -webkit-filter: grayscale(.5);
      filter: grayscale(.5);
      &:hover{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
    .gallery-text{
      margin: 10px 0 10px 0;
    }
  }
}

.navbar-toggler{ margin: 1em; }

.sq-thumb-sm{
  object-fit: cover;
  object-position: 50% 20%;
  width: 80px;
  height: 80px;
}
