/*

main body & containers

*/

html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

/*

header & nav bar

*/

#wax-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  vertical-align: middle;
  z-index: 100000;
  border-bottom: 1px solid $neutral-dark;
  padding: 1em 0 1em 0;
  background-color: $bg-color;
  font-size: $main-font-size;
  font-family: $heading-font;

  @media screen and (max-width: $break-med) {
    padding: $less-margin 0 $less-margin 0;
  }

  #title a{
    font-size: $main-font-size * 1.2;
  }

  .logo.baseline {
    background: $logo no-repeat;
    background-size: contain;
    align-self: center;
    padding: $main-font-size * .8;
    margin: .25em .25em 0 0;
  }

  ul {
    max-width: $max-text-width;
    font-size: $main-font-size;
    background-color: $bg-color;
    .dropdown-toggle::after {
      display: none !important;
    }
  }

  .navbar{
    padding: 0 !important;
    margin: 0 !important;
    .navbar-toggler{
      margin: $less-margin;
    }
  }
}

/*

content section

*/
#wax-main {
  background-color: $bg-color;
  width: 100vw;
  position: absolute;
  top: 100px;
  left: 0px;

  #wax-content {
    font-size: $main-font-size;
    min-height: 70vh;

    h1 {
      margin-top: $super-margin;
      margin-bottom: $more-margin;
      font-weight: bold;
      font-family: $heading-font;
      font-size: 2em;
    }

    h2, h3, h4, h5, h5 {
      margin-bottom: $more-margin;
      margin-top: $more-margin;
      font-family: $heading-font;
    }

    img {
      max-width: $max-width;
    }

    a {
      color: $accent-color;
    }

    p {
      font-family: $body-font;
      color: $text-color;
      margin: $more-margin 0 $more-margin 0;
      max-width: $max-text-width;
      @media screen and (max-width: $break-sm) {
        font-size: $main-font-size * .8;
      }
    }

    li {
      font-family: $body-font;
      color: $text-color;
      margin: $less-margin 0 $less-margin 0;
      max-width: $max-text-width;
      font-size: $main-font-size;
      @media screen and (max-width: $break-sm) {
        font-size: $main-font-size * .8;
      }
    }

    .exhibit-meta {
      margin-bottom: $super-margin * 1.5;
      .exhibit-author {
        margin-top: $super-margin * 1.5;
        margin-bottom: 1em;
        padding-bottom: 0;
      }
      .exhibit-title {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 1em;
      }
      .exhibit-date {
        margin: 0;
        padding: 0;
      }
    }

    .inline-image-reference {
      background-color: $neutral-light;
      display: inline-block;
      padding: 1em;
      img {
        max-width: $max-text-width;
        max-height: $max-text-width;
        display: block;
      }
      .image-caption {
        padding: 1em;
      }
    }
  }

  #wax-footer {
    width: 100vw;
    height: 250px;
    margin-top: 200px;
    padding-top: $more-margin;
    background-color: $neutral-light;
  }
}


.wax-inline-container {
  @extend .container;
  margin: 0 auto;
  max-width: $max-width;
  // @media screen and (max-width: $max-width) { width: $max-width; }
  // @media screen and (max-width: $break-med) { width: 55vw; }
  // @media screen and (max-width: $break-sm) { width: 65vw; }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.wax-parallax {
  .parallax-image {
    background-color: $neutral-dark;
    width: 100vw !important;
    height: $banner-height;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    @media screen and (max-width: $break-med) { height: $banner-height * .8; }
    @media screen and (max-width: $break-sm) { height: $banner-height * .5; }
  }
  .parallax-caption {
    margin: 0 auto;
    width: 100vw;
    background-color: $neutral-light;
    padding: 0.5em;
  }
}

/*

item pages (iiif + metadata)

*/
.item-view {
  width:           100%;
  display:         inline-flex;
  flex-wrap:       nowrap;
  justify-content: space-between;
  align-items:     center;
  margin:          0;

  .iiif-viewer {
    height:   $viewer-height;
    width:    100%;
    border:   1px solid $neutral-dark;
    margin:   $more-margin $less-margin $more-margin $less-margin;
    @media screen and (max-width: $break-med) {
      height: $viewer-height / 1.5;
    }
    @media screen and (max-width: $break-sm) {
      height: $viewer-height / 2;
    }
    .leaflet-control {
      a {
        color: black !important;
      }
    }
  }

  .btn {
    margin: 0;
    color: $neutral-light !important;
    background-color: $bg-color  !important;
    border: none;
    font-size: $main-font-size * 2;
    &:hover{
      background-color: $bg-color  !important;
      color: $neutral-dark !important;
    }
    @media screen and (max-width: $break-sm) {
      font-size: $main-font-size;
      margin: 0;
      padding: 0;
    }
  }
  #prev{
    float:left;
  }
  #next{
    float: right;
  }
}

.mirador {
  display: block;
  background-color: $neutral-light;
  position: relative;
  height: 450px;
  width: 100%;
  max-height: 60vh;
  margin-top: $super-margin;
  margin-bottom: $super-margin;
  a {
    color: inherit !important;
  }
  li {
    font-size: 1em !important;
  }
}

#metadata-block {
  .table-striped {
    @extend .table-striped;
    tr:nth-child(even) {
      background: $bg-color
    }
    tr:nth-child(odd) {
      background: $neutral-light
    }
  }
  .meta{
    .label{
      width: 30%;
    }
    .value{
      font-family: $body-font;
    }
  }
}
/*

search box

*/


.search-block{
  margin: $more-margin 0 $more-margin 0;
  #search{
    border-style: groove;
    border-width: 2px;
    &:focus {
        box-shadow: none ;
        border-color: $neutral-light;
    }
  }
  #results {
    margin: 0;
    .result {
      padding: 1em;
      a {
        color: $text-color;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        img {
          float: left;
          width: 50px;
        }
        p {
          margin: 0 !important;
          padding: 0;
          @media screen and (max-width: $break-sm) {
            font-size: $main-font-size * .8;
          }
          .title{
            color: $accent-color;
          }
        }
      }
      &:hover {
        background-color: $neutral-light
      }
    }
  }
}



.wax-gallery-container {
  .facet-buttons {
    .facet {
      @extend .btn-outline-secondary;
      margin-right: .5em;
      font-family: $heading-font;
      border-color: $neutral-dark;
    }
    .active{
      @extend .facet;
      background-color: $neutral-dark;
      color: $bg-color;
    }
  }
  .wax-gallery {
    margin: $margin 0 $margin 0;
    display: flex;
    flex-wrap: wrap;

    .gallery-item {
      padding: 0;
      margin: 0;
      width: 200px;
      border: 1px $neutral-dark solid;

      .gallery-thumb{
        object-fit: cover;
        object-position: 50% 20%;
        width: 200px;
        height: 175px;
      }

      .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;

        &:hover {
          .overlay {
            opacity: .7;
            cursor: pointer;
            .info {
              opacity: 1;
              filter: alpha(opacity=100);
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
            }
          }
        }

        .info {
          text-decoration: none;
          font-family: $heading-font !important;
          color: $bg-color !important;
          background-color: transparent;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          font-weight: normal;
          overflow: hidden;
          display: table-cell;
          vertical-align: middle;
          padding: 0 $margin 0 $margin;
        }

        .overlay {
          width: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          background-color: $accent-color;
          opacity: 0;
          -webkit-transition:opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
          display: table;
          height: 200px;
        }
      }
    }
  }
}


.dataTables_wrapper {
  width: 100% !important;
  margin: $super-margin 0 $super-margin 0;
}



.sq-thumb-sm{
  object-fit: cover;
  object-position: 50% 20%;
  width: 80px;
  height: 80px;
}

.iiif-logo {
  height: 1.5em;
}
