/* Wax Styles added to Ed. */

/* IIIF */
.iiif_image{
  width: 100%;
  height: 500px;
  border: 0.5px grey solid;
  background: #ffffff;
  margin-top: 20px;
}

/* Search */
#search{
  width:100%;
  border:none;
  font-size:14px;
  table{
    width:100%;
    margin-top:30px;
    #search-icon{
      width:8%;
    }
    #input-box{
      width:92%
    }
  }
}
#results{
  margin:30px;
}

/* Pagination */
.prevnext{
  margin:0 auto;
  background:transparent;
  margin-bottom: 40px;
  td{ width: 50%; }
}
