---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo.png' | absolute_url }}");

/* text */

$body-font:       'Source Serif Pro', serif;
$heading-font:    'Noto Sans', sans-serif;
$main-font-size:  1rem;
$max-text-width:  800px;

/* colors */

$text-color:      #323031;
$bg-color:        #FFFCF9;
$accent-color:    #A59200;
$neutral-light:   #E3E6EF;
$neutral-dark:    #8B8982;

/* viewport sizes */

$max-width:       992px;
$break-lg:        768px;
$break-med:       614px;
$break-sm:        466px;

/* margins */

$margin:          2rem;
$more-margin:     3rem;
$less-margin:     1rem;
$super-margin:    5rem;


$viewer-height:   550px;
$banner-height:   400px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Source+Serif+Pro');
@import 'bootstrap';
@import 'syntax';
@import 'wax';
