<center>
  <div id='metadata-block'>
    <table id='metadata-table' class='table table-striped'>
      {% for item in include.meta %}
        <!-- if the value is a metadata value and need to be retireived -->
        {% if item.value contains 'page.' %}
          {% assign key = item.value | remove: 'page.' %}
          {% assign value = page[key] %}
         <!-- if the value is a flat string -->
        {% else %}
          {% assign value = item.value %}
        {% endif %}

        <!-- if the value is a link -->
        {% if value contains 'http' %}
          {%- capture value -%}
            <a href="{{ value }}">{{ value }}</a>
          {%- endcapture -%}
        {% endif %}

        <tr class='meta {{ item.label | slugify}}'>
          <td class='label'>{{ item.label }}</td>
          <td class='value'>{{ value | strip }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</center>
