---
layout: default
---

{% unless layout.pagination == false %}
  {% assign links = site[page.collection] | sort: 'order' | map: 'url' %}
  {% for link in links %}
    {% if link == page.url %}
      {% if forloop.first %}
        {% assign prevlink = links | last %}
        {% assign nextlink = links[forloop.index] %}
      {% elsif forloop.last %}
        {% assign prevlink = prev %}
        {% assign nextlink = links | first %}
      {% else %}
        {% assign prevlink = prev %}
        {% assign nextlink = links[forloop.index] %}
      {% endif %}
    {% endif %}
    {% assign prev = link %}
  {% endfor %}
{% endunless %}

{{ content }}

{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include metadata-table.html meta=metadata %}
{% endif %}
