<!DOCTYPE html>
<html lang='en-us'>
  {% include head.html %}

  <body>
    <time datetime='{{ 'now' | date: '%Y-%m-%d %H:%M' }}'></time>
    {% include header.html %}

    {% if page.banner %}
      {% assign b = page.banner %}
      {% include parallax_image.html collection=b.collection pid=b.pid y=b.y height=b.height image=b.image %}
    {% endif %}

    <div id='wax-main'>
      <div id='wax-content' class='wax-inline-container'>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>

  <script type='text/javascript' async defer src='{{ "/assets/bootstrap/bootstrap.min.js" | absolute_url }}'></script>
  <script type='text/javascript' async defer src='{{ "/assets/popper.min.js" | absolute_url }}'></script>
</html>
