---
layout: default
---
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-iiif@2.0.1/leaflet-iiif.min.js"></script>

{% include iiif_image.html collection=page.collection pid=page.pid pagination=true %}

<center>
  <div id="metadata-block">
    <table class="table table-striped">
      <tr class="meta">
        <td class="label">Title: </td>
        <td class="value">{{ page.title }}</td>
      </tr>

      <tr class="meta">
        <td class="label">Artist: </td>
        <td class="value">{{ page.artist }}</td>
      </tr>

      <tr class="meta">
        <td class="label">Location: </td>
        <td class="value">{{ page.location }}</td>
      </tr>

      <tr class="meta">
        <td class="label">Date: </td>
        <td class="value">{{ page._date }}</td>
      </tr>

      <tr class="meta">
        <td class="label">Object Type: </td>
        <td class="value">{{ page.object_type }}</td>
      </tr>

      <tr class="meta">
        <td class="label">Current Location: </td>
        <td class="value">{{ page.current_location }}</td>
      </tr>

      <tr class="meta">
        <td class="label">Source: </td>
        <td class="value"><a href="{{ page.wiki_link }}">Wikimedia Commons</a></td>
      </tr>
    </table>
  </div>
</center>
