---
layout: default
---

{% include iiif_image.html collection=page.collection pid=page.pid pagination=true %}


<div class="metadata-block">
  <div class="meta">
    <span class="label">Title: </span>
    <span class="value">{{ page.title }}</span>
  </div>

  <div class="meta">
    <span class="label">Artist: </span>
    <span class="value">{{ page.artist }}</span>
  </div>

  <div class="meta">
    <span class="label">Location: </span>
    <span class="value">{{ page.location }}</span>
  </div>

  <div class="meta">
    <span class="label">Date: </span>
    <span class="value">{{ page._date }}</span>
  </div>

  <div class="meta">
    <span class="label">Object Type: </span>
    <span class="value">{{ page.object_type }}</span>
  </div>

  <div class="meta">
    <span class="label">Current Location: </span>
    <span class="value">{{ page.current_location }}</span>
  </div>

  <div class="meta">
    <span class="label">Source: </span>
    <span class="value">{{ page.wiki_link }}</span>
  </div>
</div>
