---
layout: default
---

{% include iiif_image.html collection=page.collection pid=page.pid %}
{% include pagination.html collection=page.collection %}

<div class="table-responsive">
  <table class="table meta table-striped">
    {% for item in site.data.metadata_table %}
    <tr class='meta-row'>
      <td class='meta-label'>
      {% if item.label %}{{ item.label }}
      {% else %}
        {{ item.field | capitalize | replace: "-", " " | replace: "_", " " }}
      {% endif %}
      </td>
      <td class='meta-field'>
      {% if item.link %}
        {% assign test = item.link | slice: 0,3 | upcase %}
        {% if test == 'HTTP' %}
          {% assign link = item.link %}
        {% else %}
          {% assign link = page[item.link] %}
        {% endif %}
        <a href="{{ link }}">
          {{ page[item.field] }}
        </a>
      {% else %}
        {{ page[item.field] }}
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
