---
layout: default
# This is a premade layout for collection items with
# IIIF viewers and metadata tables.
# It is recommended you create your own layout (e.g.,
# 'qatar_item.html') which inherits this layout.
---

<!-- Show title heading according to inheritor layout -->
{% if layout.show_title or page.show_title %}
  <center><h2>{{ page.title }}</h2></center>
{% endif %}

<!-- Capture the IIIF Manifest URI for the item-->
{%- if page.iiif.manifest.size -%}
  {%- assign manifest_uri = page.iiif.manifest -%}
{%- else -%}
  {%- capture manifest_uri -%}/iiif/{{ page.collection }}/{{ page.pid }}/manifest.json{%- endcapture -%}
{%- endif -%}

<!-- Add the IIIF viewer according to inheritor layout or page front matter -->
{% if layout.iiif.viewer == 'leaflet' or page.iiif.viewer == 'leaflet'%}
  {% include iiif/leaflet-viewer.html manifest=manifest_uri %}
{% elsif layout.iiif.viewer == 'mirador' or page.iiif.viewer == 'mirador' %}
  {% include iiif/mirador-viewer.html manifest=manifest_uri %}
{% endif %}

<!-- Create the metadata table according to inheritor layout or page front matter -->
{% if layout.meta.size %}
  {% assign meta = layout.meta %}
{% elsif page.meta.size %}
  {% assign meta = page.meta %}
{% endif %}
{% if meta.size %}
  {% if layout.iiif.size or page.iiif.size %}
    {% assign is_iiif = true %}
  {% else %}
    {% assign is_iiif = false %}
    {{ is_iiif }}
  {% endif %}
  {% include metadata-table.html meta=meta iiif=is_iiif %}
{% endif %}


<!-- Include page content, if any exists -->
{{ content }}
