---
layout: default
# This is a premade layout for collection items with
# IIIF viewers and metadata tables.
# It is recommended you create your own layout (e.g.,
# 'qatar_item.html') which inherits this layout.
---
<!-- Show title heading according to inheritor layout -->
{% if layout.show_title or page.show_title %}
  <center><h2>{{ page.label }}</h2></center>
{% endif %}

{% unless layout.pagination == false %}
  {% assign links = site[page.collection] | sort: 'order' | map: 'url' %}
  {% for link in links %}
    {% if link == page.url %}
      {% if forloop.first %}
        {% assign prevlink = links | last %}
        {% assign nextlink = links[forloop.index] %}
      {% elsif forloop.last %}
        {% assign prevlink = prev %}
        {% assign nextlink = links | first %}
      {% else %}
        {% assign prevlink = prev %}
        {% assign nextlink = links[forloop.index] %}
      {% endif %}
    {% endif %}
    {% assign prev = link %}
  {% endfor %}
{% endunless %}

<!-- Add the IIIF viewer according to inheritor layout or page front matter -->
{% if layout.iiif_viewer == 'leaflet' %}
  {% if page.iiif_viewer == 'mirador' %}
    {% include iiif/mirador-viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
  {% else %}
    {% include iiif/leaflet-viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
  {% endif %}
{% elsif layout.iiif_viewer == 'mirador' %}
  {% if page.iiif_viewer == 'leaflet' %}
    {% include iiif/leaflet-viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
  {% else %}
    {% include iiif/mirador-viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
  {% endif %}
{% endif %}

<!-- Create the metadata table according to inheritor layout or page front matter -->
{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include metadata-table.html meta=metadata %}
{% endif %}


<!-- Include page content, if any exists -->
{{ content }}
