---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Artist'
    value: page.artist
  - label: 'Type'
    value: page.object_type
  - label: 'Location'
    value: page.location
  - label: 'Current Location'
    value: page.current_location
  - label: 'Date'
    value: page._date
  - label: 'Source'
    value: page.source
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
