---
layout: wax/default
---

{% comment %}
  The block below controls pagination arrows
{% endcomment %}

{% unless layout.pagination == false %}
  {% assign links = site[page.collection] | sort: 'order' | map: 'url' %}
  {% for link in links %}
    {% if link == page.url %}
      {% if forloop.first %}
        {% assign prevlink = links | last %}
        {% assign nextlink = links[forloop.index] %}
      {% elsif forloop.last %}
        {% assign prevlink = prev %}
        {% assign nextlink = links | first %}
      {% else %}
        {% assign prevlink = prev %}
        {% assign nextlink = links[forloop.index] %}
      {% endif %}
    {% endif %}
    {% assign prev = link %}
  {% endfor %}
{% endunless %}

{% comment %}
  The block below controls the image viewer
{% endcomment %}

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}
{% if viewer %}
   {% if viewer == 'leaflet' %}
      {% include wax/image_viewer/leaflet.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
   {% elsif viewer == 'mirador' %}
      {% include wax/image_viewer/mirador.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
   {% else %}
      {% include wax/image_viewer/simple.html full_image=page.full prevlink=prevlink nextlink=nextlink %}
   {% endif %}
{% endif %}

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include wax/item/metadata.html meta=metadata %}
{% endif %}
