<!DOCTYPE html>
<html lang='en-us'>
  {% include wax/head.html %}

  <body>
    <time datetime='{{ 'now' | date: '%Y-%m-%d %H:%M' }}'></time>
    {% include wax/header.html %}

    <div id='wax-main'>
      <div id='wax-content' class='wax-inline-container'>
        {{ content }}
      </div>

      <footer id='wax-footer' class='page-footer container-fluid'>
        <div class='wax-inline-container text-center text-md-left'>
          <!-- add custom footer include here -->
        </div>
      </footer>
    </div>
  </body>

  <script type='text/javascript' src='{{ site.js.bootstrap.src }}'></script>
  <script type='text/javascript' src='{{ site.js.popper.src }}'></script>
</html>
