<head>
  <!-- Canonical link to help search engines -->
  <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}"/>
  <link rel="icon" type="image/png" href="{{ '/assets/logo.png' | absolute_url }}">

  <!-- Basic meta elements -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.label }}
    {% endif %}
  </title>

  <!-- styles -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/wax.css' | absolute_url }}"/>
  <!-- jquery --->
  <script type="text/jscript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- wax js -->
  <script type="text/javascript" src="{{ '/js/wax.js' | absolute_url }}"></script>
</head>
